<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HUB_NAME</key>
	<string>nh-hub-coordinator-test12</string>
	<key>CONNECTION_STRING</key>
	<string>Endpoint=sb://runners-nh-int7-sn1-001-7.notificationhub.int7.windows-int.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=ao1JT9NELFsaPTcGt5Odld3/1HqYjIdEw9CPitclydI=</string>
</dict>
</plist>
