#include "App.xcconfig"

SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTS_MACCATALYST = YES
ARCHS = $(ARCHS_STANDARD) armv7s arm64e
SKIP_INSTALL = YES

OTHER_CFLAGS_Debug = $(inherited) -fembed-bitcode-marker
OTHER_CFLAGS_Release = $(inherited) -fembed-bitcode-marker -fembed-bitcode
OTHER_CFLAGS = $(OTHER_CFLAGS_$(CONFIGURATION))

NH_BUILD_PLATFORM = iOS

ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))

VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO

MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
MTL_FAST_MATH = YES

TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = S4V3D7CHJR
