MACOS_DEPLOYMENT_TARGET = 10.15
SDKROOT = macosx
ARCHS = x86_64
VALID_ARCHS = $(ARCHS) i386
SKIP_INSTALL = YES

NH_BUILD_PLATFORM = macOS
ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))

GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL_Debug = 0
GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION))
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_WEAK = YES
ENABLE_NS_ASSERTIONS_Debug = YES
ENABLE_NS_ASSERTIONS_Release = NO
ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(CONFIGURATION))
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1 $(inherited)
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
