<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HUB_NAME</key>
	<string>samples</string>
	<key>CONNECTION_STRING</key>
	<string>Endpoint=sb://samples-ns.servicebus.windows.net/;SharedAccessKeyName=DefaultListenSharedAccessSignature;SharedAccessKey=pux6Hm52DPpzSDBIku6ME1BUvukUAzx+CcvTa8JLuKw=</string>
</dict>
</plist>
